@import "tailwindcss";
@import "../styles/keyframes.css";
@import "../styles/base/index.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-eyebrow: "Space Grotesk";
  --font-headline: var(--font-fk-display);
  --font-subtitle: var(--font-fk-grotesk);
  --font-body: "Inter Tight";

  /* Base Colors */
  --color-background: var(--gray-1);
  --color-foreground: var(--gray-12);
  --color-invert: var(--gray-contrast);

  --color-accent: var(--gray-4);
  --color-accent-foreground: var(--gray-contrast);

  --color-primary: var(--purple-10);
  --color-primary-foreground: var(--purple-contrast);

  --color-secondary: var(--pink-8);
  --color-secondary-foreground: var(--pink-contrast);

  --color-tertiary: var(--yellow-9);
  --color-tertiary-foreground: var(--yellow-contrast);

  --color-quaternary: var(--lime-9);
  --color-quaternary-foreground: var(--lime-contrast);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--gray-1);
  --color-ring: var(--ring);

  --color-card: var(--gray-2);
  --color-card-secondary: var(--purple-8);
  --color-card-foreground: var(--gray-surface);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-input-accent: var(--purple-11);
  --color-input-primary: var(--gray-12);
  --color-input-secondary: var(--gray-7);

  --color-button-bg-primary: var(--purple-10);
  --color-button-bg-accent: var(--purple-8);
  --color-button-bg-secondary: var(--gray-3);

  --color-text-accent: var(--purple-11);
  --color-text-primary: var(--gray-12);
  --color-text-secondary: var(--gray-10);
  --color-text-contrast: var(--gray-contrast);

  --color-border-primary: var(--gray-6);
  --color-border-secondary: var(--gray-3);
  --color-border-accent: var(--gray-contrast);

  --color-separator-primary: var(--gray-5);
  --color-separator-secondary: var(--gray-7);

  --color-skeleton-primary: var(--gray-5);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--gray-1);

  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --spacing-8xl: 1440px;
  --spacing-9xl: 1820px;
  --spacing-10xl: 2040px;

  --animate-collapsible-down: collapsible-down 100ms ease-out;
  --animate-collapsible-up: collapsible-up 100ms ease-out;
  --animate-slide-in: slide-in 200ms ease-out;
  --animate-slide-out: slide-out 200ms ease-out;
  --animate-slide-in-from-right: slide-right-in 200ms ease-out;
  --animate-slide-out-to-right: slide-right-out 200ms ease-out;
  --animate-slide-up: slide-up 200ms ease-out;
  --animate-slide-down: slide-down 200ms ease-out;
  --animate-in: pop-in 200ms ease-out;
  --animate-out: pop-out 200ms ease-out;
  --animate-fade-in: fade-in 400ms ease-out;
  --animate-fade-out: fade-out 400ms ease-out;
}

@layer base {
  :root {
    --radius: 0.75rem;
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.606 0.25 292.717);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.606 0.25 292.717);
    --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.606 0.25 292.717);
  }

  .dark {
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 75%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.541 0.281 293.009);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.541 0.281 293.009);
    --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.541 0.281 293.009);
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    background: var(--gray-1);
    overflow-y: scroll;
  }

  p,
  * {
    color: var(--gray-12);
  }

  /* Global Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 32px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-gray-300);
    border-radius: 32px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-gray-700);
    border-radius: 32px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-800);
  }

  /* NOT RECOMMEDED - FORCING CUSTOM STYLE IN REACT-TOASTIFY */
  /* TOOD: Create a custom component for toastify */
  .Toastify__toast-theme--colored.Toastify__toast--success {
    background: var(--lime-8) !important;
  }

  .Toastify__toast-theme--colored.Toastify__toast--error {
    background: var(--pink-8) !important;
  }

  .Toastify__toast-theme--colored.Toastify__toast--info {
    background: var(--blue-8) !important;
  }

  .Toastify__toast-theme--colored.Toastify__toast--warning {
    background: var(--yellow-a8) !important;
  }

  .Toastify__close-button {
    color: var(--foreground) !important;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Custom eyedropper cursor */
  .cursor-eyedropper {
    cursor: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'><path d='M56.9999 6.52998C54.8659 4.39696 51.9722 3.19873 48.9549 3.19873C45.9377 3.19873 43.044 4.39696 40.9099 6.52998L29.6199 17.79L29.2699 17.44C28.9049 17.0756 28.4716 16.7866 27.9948 16.5896C27.5181 16.3927 27.0072 16.2915 26.4914 16.292C25.9756 16.2925 25.4649 16.3945 24.9885 16.5924C24.5121 16.7902 24.0794 17.0799 23.7149 17.445C23.3505 17.8101 23.0616 18.2433 22.8646 18.7201C22.6676 19.1968 22.5665 19.7077 22.567 20.2235C22.5674 20.7393 22.6695 21.25 22.8673 21.7264C23.0651 22.2028 23.3549 22.6356 23.7199 23L26.9099 26.19L7.80994 46.24C7.70658 46.3561 7.62828 46.4922 7.57994 46.64L3.73994 59.52C3.68542 59.6948 3.67994 59.8812 3.72408 60.0589C3.76823 60.2366 3.86031 60.3987 3.9903 60.5277C4.12028 60.6566 4.28317 60.7474 4.4612 60.7901C4.63924 60.8329 4.82559 60.8259 4.99994 60.77L18.0999 57.15C18.2749 57.1033 18.4339 57.01 18.5599 56.88L37.6199 36.88L40.5499 39.81C40.9141 40.1749 41.3466 40.4645 41.8228 40.662C42.2989 40.8596 42.8094 40.9613 43.3249 40.9613C43.8405 40.9613 44.3509 40.8596 44.8271 40.662C45.3033 40.4645 45.7358 40.1749 46.0999 39.81C46.8346 39.0733 47.2471 38.0754 47.2471 37.035C47.2471 35.9946 46.8346 34.9967 46.0999 34.26L45.7499 33.91L56.9999 22.62C59.133 20.486 60.3312 17.5922 60.3312 14.575C60.3312 11.5577 59.133 8.66399 56.9999 6.52998V6.52998ZM17.2699 55.3L6.16994 58.36L9.42994 47.44L28.3199 27.6L36.1699 35.44L17.2699 55.3ZM44.6499 38.37C44.2867 38.7297 43.7961 38.9314 43.2849 38.9314C42.7737 38.9314 42.2832 38.7297 41.9199 38.37L25.1299 21.58C24.8619 21.3101 24.6796 20.9671 24.6059 20.5939C24.5322 20.2208 24.5704 19.8342 24.7157 19.4827C24.861 19.1312 25.1069 18.8304 25.4226 18.6182C25.7383 18.406 26.1096 18.2918 26.4899 18.29C26.7424 18.2888 26.9926 18.3377 27.226 18.4338C27.4594 18.5299 27.6715 18.6714 27.8499 18.85L44.6499 35.65C45.009 36.0115 45.2105 36.5004 45.2105 37.01C45.2105 37.5195 45.009 38.0084 44.6499 38.37ZM44.2999 32.47L30.9999 19.2L42.2899 7.93998C44.0497 6.18027 46.4363 5.19167 48.9249 5.19167C51.4135 5.19167 53.8002 6.18027 55.5599 7.93998C57.3197 9.69969 58.3082 12.0864 58.3082 14.575C58.3082 17.0636 57.3197 19.4503 55.5599 21.21L44.2999 32.47Z' fill='white' stroke='black' stroke-width='1'/></svg>") 2 22, pointer;
  }

  .dark .cursor-eyedropper {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='m2 22 1-1h3l9-9'/><path d='M3 21v-3l9-9'/><path d='m15 6 3.5-3.5a2.12 2.12 0 0 1 3 3L18 9l.5.5-3.5 3.5'/><path d='m9 12 3.5 3.5-3.5 3.5'/></svg>") 2 22, pointer;
  }
}
